<h1>New to TixMix?</h1>

<p>
  TixMix is the next generation online box office for anyone selling any kind of tickets.
</p>

<p>
  We provide a rich set of tools and web services to promote, sell and track sales.
  It is for anyone selling any kind of tickets
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

